
.main-nav ul{
  display: none;
  list-style: none;
  padding-bottom: 20px;
}

.main-nav div{
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 45px;
}

h1 {
  font-size: 35px;
}


.site-header {
  background-color: rgb(250, 234, 171)
}

a:link, a:visited {
  text-decoration: none;
  color: gray;
}

a:hover, a:active {
  text-decoration: underline;
  color: gray;
}
