.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.clearfix{
  clear: both;
}
.main-nav ul{
  display: none;
  list-style: none;
  padding-bottom: 20px;
}

.main-nav div{
  position: absolute;
  top: 0;
  right: 3px;
  font-size: 45px;
}

h1 {
  font-size: 35px;
}


.site-header {
  background-color: rgb(250, 234, 171);
  margin-top: -25px;
  padding-top: 25px;
}

a:link, a:visited {
  text-decoration: none;
  color: gray;
}

a:hover, a:active {
  text-decoration: underline;
  color: gray;
}
