.main-nav ul li {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  margin-left: -35px;
}

.main-nav:hover ul{
  display: block;
}

.main-nav:hover div{
  padding-left: 200px;
  padding-bottom: 200px;
}


@media screen and (min-width: 640px){
  .main-nav div{
    display: none;
  }

  .main-nav ul{
    display: block;
    margin-left: -50px;
  }

  .main-nav ul li{
    display: inline-block;
    border-bottom: none;
    margin-left: 40px;
  }
}
