.main-nav ul {
  display: none;
}

.main-nav:hover ul {
  display: block;
}

@media only screen and (min-width: 640px) {

  .icon-menu {
    display: none;
  }

  .main-nav ul {
    display: block;
    margin-top: 0px
  }

  .main-nav ul li {
    border-bottom: none;
    display: inline-block;
    margin-left: 35px;
  }

}
